@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variable */
:root {
    --major-bg-color: #131921;
    --minor-bg-color: #ebeded;
    --amazon-major-color: #febd68;
}

/* body */
body {
    background-color: var(--minor-bg-color);
}

/* Header */
header {
    width: 100%;
    height: 50px;
    background-color: var(--major-bg-color);
    display: flex;
    justify-content: center;
}

.header-nav {
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.header-nav .header-container {
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.amazon-logo {
    width: 100px;
    justify-content: center;
}

.header-search {
    width: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.header-search .search-input {
    width: 100%;
    height: 45px;
    border: 2px solid #ccc;
    padding: 0px 10px;
}

.header-container .search-button {
    width: 40px;
    height: 42px;
    background-color: var(--amazon-major-color);
    border: 1px solid #ccc;
    color: #232323;
}

.header-cart {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-cart svg {
    width: 40px;
    height: 40px;
}

.header-cart p {
    color: white;
    font-size: 35px;
}

/* section-1 */
.section-1 {
    width: 100%;
    height: auto;
    background: url('https://images-eu.ssl-images-amazon.com/images/G/31/img22/Fashion/Gateway/BAU/Aug/Apay/GW-PC-Deals-Unrec-3000._CB629506848_.jpg');
    background-size: cover;
    display: flex;
}

.section-1-container {
    display: flex;
    margin-top: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.section-1-coloumn{
    background-color: white;
    width: 100%;
    padding: 20px;
}
.section-1-coloumn img{
    margin-top: 15px;
    width: 100%;
    height: auto;
}
.section-1-coloumn p{
    margin-top: 5px;
    font-size: 17px;
    color: #007185;
}
.section-1-coloumn button{
    margin-top: 20px;
    width: 100%;
    border: none;
    background-color: var(--amazon-major-color);
    border-radius: 10px;
    height: 35px;
    padding: 8px;
}
/* section-2 */
.section-2{
    margin: 20px;
    padding: 20px;
    background-color: white;
}
.section-2-container h3{
    margin-top: 10px;
    margin-bottom: 10px;

}
.product-cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 30px;
    flex-wrap: nowrap;
    overflow: auto;
}
.product-card{
    width: 300px;
    display: inline;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}
.product-card img{
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 200px;
}
/* section-3 */
.section-3{
    background-color: white;
}
.section-3-container{
    margin: 20px;
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    flex-direction: column;
}
.section-3-container .product-details-cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}
.product-detail-card{
    display: inline-block;
    width: 200px;
    gap: 27px;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}
.product-detail-card .product-detail-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-detail-card .product-detail-img img{
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 160px;
}
.product-detail-card a{
    text-decoration: none;
    color: #007185;
    font-size: 20px;
}
.product-detail-card a:hover{
    color: #c358;
}
.product-delivered{
    font-size: 15px;
    font-weight: bold;

}
/* section-4 */
.section-4-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.section-4-container p{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    height: 20px;
}
.section-4-container button{
    margin-top: 15px;
    width: 300px;
    border: none;
    background-color: var(--amazon-major-color);
    padding: 8px;
    border-radius: 10px;
    height: 50px;
}
